<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="bg-light"><h1>商品一覧</h1></div>
     <p class="text-right"><%= link_to "新規登録", new_admin_item_path %></p>
     <p id="notice"></p>

      <table class="table table-borderless">
       <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
       </thead>
      <% @items.each do |item| %>
　　　 <tbody>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td>
           <% if item.is_active %>
            販売中
           <% else %>
            販売停止中
           <% end %>
           </td>
          <td></td>
        </tr>
       </tbody>
       <% end %>
      </table>
       <%= paginate @items %>
　　</div>
　 </div>
　</div>
 </main>
</body>


