<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="bg-light"><h1>商品一覧</h1></div>
     <p class="text-right"><%= link_to new_admin_item_path do %><i class="fas fa-plus">新規登録</i><% end %></p>
     <p></p>



      <table class="table table-borderless">
       <thead class="thead-light">
        <tr>
          <th scope="col">商品ID</th>
          <th scope="col">商品名</th>
          <th scope="col">税抜価格</th>
          <th scope="col">ジャンル</th>
          <th scope="col">ステータス</th>
        </tr>
       </thead>
      <% @items.each do |item| %>
　　　 <tbody>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td>
           <% if item.is_active %>
            <b><font color="green">販売中</font></b>
           <% else %>
            <b><font color="silver">販売停止中</font></b>
           <% end %>
           </td>
          <td></td>
        </tr>
       </tbody>
       <% end %>
      </table>
       <%= paginate @items %>
　　</div>
　 </div>
　</div>
 </main>
</body>


