<h1>商品新規登録</h1>

<%= form_with model: @item, url: admin_items_path, do |f| %>
<p>商品画像</p>

<%= f.file_field :image, accept: "image/*" %>

商品名
<%= f.text_field :name %>
商品説明
<%= f.text_area :introduction %>
ジャンル
<% end %>

<%= form_with model: @genre, url: admin_genres_path, do |f| %>
<%= form.label :genre %>
<%= form.collection_select :genre_id, @genres, :id, :name, {include_blank: "---"} %>



税抜価格
販売ステータス


<%= f.submit '投稿' %>
<% end %>

