<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="bg-light"><h1>商品新規登録</h1></div>
     <p</p>
     <% if @item.errors.any? %>
      <%= @item.errors.count %>件のエラーが発生しました
     <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
     </ul>
     <% end %>

      <%= form_with model: @item, url: admin_items_path do |f| %>
      <form>
       <div class="form-group row">
         <label class="col-sm-2 col-form-label">商品画像</label>
         <div class="col-sm-10">
         <%= f.file_field :image, accept: "image/*" %>
         </div>
       </div>
       <div class="form-group row">
         <label class="col-sm-2 col-form-label">商品名</label>
         <div class="col-sm-10">
         <%= f.text_field :name, class: "form-control", :placeholder => "商品名" %></label>
         </div>
       </div>
       <div class="form-group row">
         <label class="col-sm-2 col-form-label">商品説明</label>
         <div class="col-sm-10">
          <%= f.text_area :introduction, class: "form-control",:placeholder => "ここに説明文を記述します" %>
         </div>
       </div>
       <div class="form-group row">
         <label class="col-sm-2 col-form-label">ジャンル</label>
         <div class="col-sm-10">
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "---"}, class: "form-control" %>
         </div>
       </div>
       <div class="form-group row">
         <label class="col-sm-2 col-form-label">税抜価格</label>
         <div class="col-sm-10">
         <%= f.text_field :price, class: "form-control", :placeholder => "1000" %><br>
         </div>
       </div>
       <div class="form-group row">
        <label class="col-sm-2 col-form-label">販売ステータス</label>
         <div class="col-sm-10">
          <label><%= f.radio_button :is_active, :true %> 販売中 </label>
          <label><%= f.radio_button :is_active, :false %> 販売停止中</label>
         </div>
       </div>
      <%= f.submit '新規登録', class: "btn btn-success" %>
      <% end %>
　　</div>
　 </div>
　</div>
 </main>
</body>
