<body>
 <main>
  <div class="container">
   <p></p>
   <div class="bg-light"><h1>商品詳細</h1></div>
   <p></p>
   <div class="row">
     <div class="col-4">
     <%= image_tag @item.get_image, size: '320x240' %>
     </div>
     <div class="col-4">
   　   <table class="table table-borderless" >
        <tr><td>商品名</td><td><%= @item.name %></td></tr>
        <tr><td>商品説明</td><td><%= @item.introduction %></td></tr>
        <tr><td>ジャンル</td><td><%= @item.genre.name %></td></tr>
        <tr><td>税込価格<br>(税抜価格)</td><td><%= @item.with_tax_price %>(<%= @item.price %>)円</td></tr>
        <tr><td>販売ステータス</td>
        <td><% if @item.is_active %>
         <b><font color="green">販売中</font></b>
            <% else %>
         <b><font color="silver">販売停止中</font></b>
            <% end %>
        </td>
        </tr>
        <tr><td><%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-success" %></tr></td>
       </table>
     </div>
    </div>
   </div>
 </main>
</body>
