<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <p id="notice"></p>
     <div class="bg-light"><h2>管理者ログイン</h2></div>



      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="col">
        <div class="form-group">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>
        <div class="field">
        <%= f.label "パスワード" %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
        </div>
        <p></p>

       </div>
       <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
       </div>
      <% end %>
    <%= render "admin/shared/links" %>
     </div>
　　</div>
　 </div>
　</div>
 </main>
</body>


