<h1><%= @customer.first_name %><% @customer.last_name %>の会員詳細　</h1>
会員ID
<%= @customer.id %>
氏名
<%= @customer.first_name %><% @customer.last_name %>
フリガナ
<%= @customer.first_name_kana %><% @customer.last_name_kana %>
郵便番号
<%= @customer.postal_code %>
住所
<%= @customer.address %>
電話番号
<%= @customer.telephone_number %>
メールアドレス
<%= @customer.email %>
会員ステータス
<%= @customer.is_deleted %>

編集する 注文履歴一覧を見る