<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <p id="notice"></p>
     <div class="bg-light"><h3>注文履歴詳細</h3></div>
      <p></p>

      <table class="float-left">
      <thead>
        <tr><td>購入者</td><td><%= @order.customer.first_name %><%= @order.customer.last_name %></td></tr>
        <tr><td>注文日</td><td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td></th>
        <tr><td>配送先</td><td><%= @order.postal_code %><%= @order.address %><%= @order.name %></td></th>
        <tr><td>支払方法</td><td><%= @order.payment_method_i18n %></td></tr>
        </tr>
      </thead>
    </table>


<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th scope="col">商品</th>
      <th scope="col">単価</th>
      <th scope="col">個数</th>
      <th scope="col">小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order| %>
    <tr>
      <th scope="row"></th>
      <td><%= order.item.name %></td>
      <td><%= order.item.with_tax_price %></td>
      <td><%= order.quantity %></td>
      <td><% order.item %></td>
      <td><%= order.item.price.subtotal %></td>
      <%= form_with model: @order_detail, url: admin_order_path(@order.id) do |f|%>
      <td><%= f.select :making_status, OrderDetail.making_statuses.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
      <%= f.submit "更新", class: "btn btn-success"%></td>
      <% end %>
      <%= %>

      <% end %>
    </tr>
  </tbody>
</table>
商品合計
<%=  %>
請求金額合計
<%= @order.amount_money %>

      </div>
　 </div>
　</div>
 </main>
</body>