<h3>配送先編集</h3>
<%= form_with model: @address, url: address_path(@address) do |f| %>


郵便番号(ハイフンなし)
<%= f.text_field :postal_code, :placeholder => "0000000" %>
住所
<%= f.text_area :address, :placeholder => "東京都渋谷区代々木園町0-0" %>
宛名
<%= f.text_field  :name, :placeholder => "令和道子" %>
<%= f.submit '変更を登録', class: 'btn btn-success' %>
<% end %>