<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
      <p></p>
     <div class="bg-light"><h3>新規会員登録</h3></div>
     <p></p>


<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="form-row">
      <table class="table table-borderless">
       <thead class="thead-light">
       <tr>
        <td><%= f.label "名前" %></td>
        <td><%= f.text_field :first_name, class: "form-control", :placeholder => "令和" %></td>
        <td><%= f.text_field :last_name, class: "form-control", :placeholder => "道子" %></td>
       </tr>
       <tr>
         <td><%= f.label "フリガナ" %></td>
         <td><%= f.text_field :first_name_kana, class: "form-control", :placeholder => "レイワ" %></td>
         <td><%= f.text_field :last_name_kana, class: "form-control", :placeholder => "ミチコ" %></td>
       </tr>
       </thead>
      </table>
     </div>

     <div class="row mb-3">
      <%= f.label '郵便番号', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
      <%= f.text_field :postal_code, class: "form-control", :placeholder => "0000000" %>
      </div>
     </div>
     <div class="row mb-3">
      <%= f.label '住所', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
      <%= f.text_field :address, class: "form-control", :placeholder => "東京都さいたま市おおさか123" %>
      </div>
     </div>

     <div class="row mb-3">
      <%= f.label '電話番号', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
      <%= f.text_field :telephone_number, class: "form-control", :placeholder => "0000000000" %>
      </div>
     </div>

     <div class="row mb-3">
      <%= f.label 'メールアドレス', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control", :placeholder => "sample@example.com", autofocus: true, autocomplete: "email" %>
      </div>
     </div>

       <div class="row mb-3">
        <%= f.label "ﾊﾟｽﾜｰﾄﾞ(6文字以上)", class: "col-sm-2 col-form-label" %>
        <!--<% if @minimum_password_length %>-->
        <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
        <!--<% end %><br />-->
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="row mb-3">
        <%= f.label "ﾊﾟｽﾜｰﾄﾞ確認用", class: "col-sm-2 col-form-label" %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>


     <div class="container text-center">
      <div class="row">
       <div class="col">
       <%= f.submit "新規登録", class: "btn btn-success mr-5" %>
       </div>
      </div>
     </div>
    <% end %>


　　<div class="bg-light"><h3>既に登録済みの方</h3></div>
　　<p class="text-center"><%= link_to "こちら", customer_session_path %>　からログインしてください</p>
　　</div>
　 </div>
　</div>
 </main>
</body>

