<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <div class="bg-light"><h3>新規会員登録</h3></div>
     <p id="notice"></p>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="form-row">
   <table class="table table-borderless">
    <thead class="thead-light">
    <tr>
     <td><%= f.label "名前" %></td>
     <td><%= f.text_field :first_name, class: "form-control", :placeholder => "令和" %></td>
     <td><%= f.text_field :last_name, class: "form-control", :placeholder => "道子" %></td>
    </tr>
    <tr>
      <td><%= f.label "フリガナ" %></td>
      <td><%= f.text_field :first_name_kana, class: "form-control", :placeholder => "レイワ" %></td>
      <td><%= f.text_field :last_name_kana, class: "form-control", :placeholder => "ミチコ" %></td>
    </tr>
    </thead>
   </table>
  </div>

  <div class="field">
    <tr>
     <td><%= f.label :email %></td>
     <td><%= f.email_field :email, class: "form-control", :placeholder => "sample@example.com", autofocus: true, autocomplete: "email" %></td>
    </tr>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code, class: "form-control", :placeholder => "0000000" %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control", :placeholder => "東京都さいたま市おおさか123" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number %><br>
    <%= f.text_field :telephone_number, class: "form-control", :placeholder => "0000000000" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>


    </thead>
   </table>


  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>


<%= render "public/shared/links" %>

<div class="bg-light"><h3>既に登録済みの方</h3></div>

<%= link_to "こちら", customer_session_path %>
からログインしてください


　　</div>
　 </div>
　</div>
 </main>
</body>
