<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <p id="notice"></p>
     <div class="bg-light"><h3>注文履歴詳細</h3></div>
     <p id="notice"></p>


<p>注文情報</p>


    </table>
     <table border="1" class="float-left">
      <thead>
        <tr><td>注文日</td><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
        <tr><td>配送先</td><td><%= @order.address %></td></th>
        <tr><td>支払方法</td><td><%= @order.payment_method_i18n %></td></th>
        <tr><td>ステータス</td><td><%= @order.status %></td></th>
        </tr>
      </thead>
    </table>
    <p>請求情報</p>

    <table border="1" class="float-left">
      <thead>
        <tr><td>商品合計</td><td><%= @order.amount_money - @order.postage %></td></tr>
        <tr><td>配送料</td><td><%= @order.postage %></td></tr>
        <tr><td>ご請求額</td><td><%= @order.amount_money %></td></th>
        </tr>
      </thead>
    </table>

<p>注文内容</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">単価</th>
      <th scope="col">個数</th>
      <th scope="col">小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order| %>
    <tr>
      <th scope="row"></th>
      <td><%= order.item.name %></td>
      <td><%= order.item.with_tax_price %></td>
      <td><%= order.quantity %></td>
      <td><%= order.item.price.subtotal %></td>
      <% end %>
    </tr>
  </tbody>
</table>

　　</div>
　 </div>
　</div>
 </main>
</body>
