<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col-2">
     <p></p>
     <div class="bg-light"><h3>ログイン</h3></div>
    </div>
   </div>
   <p></p>

<%= form_with model: @customer, url: customer_session_path do |f| %>

    <div class="bg-light"><h4>会員の方はこちらからログイン</h4></div>
    <div class="row">
     <div class="col">
       <div class="row mb-3">
        <%= f.label 'メールアドレス', class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
        <%= f.email_field :email, class: "form-control", :placeholder => "sample@example.com", autofocus: true, autocomplete: "email" %>
        </div>
       </div>

       <div class="row mb-3">
        <%= f.label "パスワード", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
        </div>
       </div>

       <div class="actions mx-auto", style="width: 200px;">
         <%= f.submit "ログイン", class: "btn btn-success" %>
       </div>
       </div>
     <% end %>
     </div>

     <div class="bg-light">
      <h4>会員登録がお済みでない方</h4>
     </div>
     <div class="text-center">
     <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行って下さい。
     </div>
　 </div>
　</div>
 </main>
</body>
