
<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
    <p></p>
    <div class="bg-light"><h1>商品一覧</h1></div>
　　</div>
　 </div>
     <p></p>
    <div class="row">
     <% @items.each do |item| %>
     <div class="col-3">
      <div class="card-deck">
       <div class="card-body">
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image, width: '150px', height: '100px' %>
        <% end %><br>
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text">￥<%= item.price %></p>
       </div>
       </div>
      </div>
      <% end %>
     </div>
     <%= paginate @items %>
　</div>
 </main>
</body>
