
<body>
 <main>
  <div class="container">
   <div class="row">
    <div class="col">
     <p id="notice"></p>



        <div class="row">
         <div class="col-6">
         <%= image_tag @item.get_image, width: '450px', height: '300px' %>
         </div>
         <div class="col-6 mt-5">
          <h2><%= @item.name %><br></h2>
          <h4><%= @item.introduction %></h4><br>
          <h3>￥<%= @item.with_tax_price %>（税込）</h3><br>
          <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, *[1..10], include_blank: '個数選択' %>
          <%= f.submit 'カートに入れる', class: "btn btn-success" %>
          <% end %>
         </div>
        </div>

    　 </div>
  　 </div>
  </div>
 </main>
</body>

